.Board {
    width: 100%;
    max-width: 1000px;
    /* min-height: 90vh; */
    height: scroll;
    padding: 0 1rem 0 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

@media (max-height: 411px) and (orientation: landscape) {
    .Board {
      max-width: 780px;
    }
  }

@media (max-height: 375px) and (orientation: landscape) {
    .Board {
      max-width: 590px;
    }
  }