.CardFront {
    width: 11rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: 0 0 1.5rem rgba(0,0,0, .7);
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.Angular {
    background-image: url('../../../assets/img/angular.png');
}

.Vue {
    background-image: url('../../../assets/img/vue-dot-js.png');
}

.Html {
    background-image: url('../../../assets/img/html5.png');
}

.Css {
    background-image: url('../../../assets/img/css3.png');
}

.Js {
    background-image: url('../../../assets/img/javascript.png');
}

.Sass {
    background-image: url('../../../assets/img/sass.png');
}

.React {
    background-image: url('../../../assets/img/react.png');
}

.Ruby {
    background-image: url('../../../assets/img/rubygems.png');
}