.ScorePanel {
    width: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1.5rem;
    background: radial-gradient(circle, rgba(0,0,0, .6) 0%, rgba(0,0,0, .6) 80%, rgba(255,255,255,1) 100%);
    
}

.Round {
    position: fixed;
    top: 6rem;
    right: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 7rem;
    height: 7rem;
    
    border-radius: 50%;
    background: #333;
    font-size: 4rem;
    text-align: center;
}