.ScorePanel {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1rem;
    background: radial-gradient(circle, rgba(0,0,0, .6) 0%, rgba(0,0,0, .6) 80%, rgba(255,255,255,1) 100%);
    
}