*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* color-primary: #00897b */
/* color-primary-light: #4ebaaa */
/* color-primary-dark: #005b4f */

/* color-gray-light: #e0e0e0 */
/* color-gray-dark: #aeaeae; */

/* mobile: 320px; */
/* @media (min-width: 375px) {

}

@media (min-width: 425px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
  
}

@media (min-width: 1440px) {
  
} */